/target
/etc
/apk_output
/.vscode
/.cargo
/.rustup
/release
/outputs
/submodule
/build
/.github
/picoman
Cargo.lock
flake.lock
flake.nix
.envrc
shell-arm.nix
adb_client
*.jar
LICENSE.txt
shell.nix
.env
.envrc
*.rs1
.Dockerfile
